.container_card{
    border: #0c0a04 1px solid;
    display: flex;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}
.photo{
    border-radius: 8px;
    max-width: 100px;
    background-color: azure;
}
.description{
    margin: 5px;
}
.p{
    margin: 0.5px;
}