.page{
    align-items: center;
    text-align: center;
    margin: 20px;
}
.text{
    /* color: #523E09; */
    font-family: 'Trebuchet MS';
}
.button{
    background-color: #523E09;
    font-family: 'Trebuchet MS';
    color: burlywood;
    padding: 5px;
    border: #0c0a04 1px solid;
    border-radius: 4px;
}